
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="subscribe">
                    <h3>Newsletter</h3>
                    <form id="subscribeform"
                        action="https://demo.web3canvas.com/themeforest/unisco/php/subscribe.php" method="post">
                        <input class="signup_form" type="text" name="email" placeholder="Enter Your Email Address">
                        <button type="submit" class="btn btn-warning" id="js-subscribe-btn">SUBSCRIBE</button>
                        <div id="js-subscribe-result" data-success-msg="Success, Please check your email."
                            data-error-msg="Oops! Something went wrong"></div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="foot-logo pt-5">
                    <a href="/">
                        <img src="/images/logo/port-logistics.png" class="img-fluid" alt="footer_logo">
                    </a>
                    <p class="pl-5">2020 © copyright
                        <br> All rights reserved.</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="sitemap">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/admission">Admissions </a></li>
                        <li><a href="/academics">Academics</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
              <div class="tweet_box">
                <h3>Join A Program</h3>
                <p class="join-us">Our Mission is to Empower Students with Quality Education and <br> Aspirations while building a Long Lasting Career for a better World</p>
                <a href="#" class="btn btn-primary">Join Now</a>
              </div>
            </div>
            <div class="col-md-3">
                <div class="address">
                    <h3>Contact us</h3>
                    <p><span>Address: </span> Airport road, warri, Delta State</p>
                    <p>Email : <a href="#" >poloman@gmail.com</a>
                        <br> Phone : +2348038000008</p>
                    <ul class="footer-social-icons">
                        <li><a href="#"><i class="fa fa-facebook fa-fb" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin fa-in" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-tw" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-whatsapp fa-ws" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<script data-cfasync="false"
    src="https://demo.web3canvas.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/slick.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/counterup.min.js"></script>
<script src="js/instafeed.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/validate.js"></script>
<script src="js/tweetie.min.js"></script>

<script src="js/subscribe.js"></script>

<script src="js/script.js"></script>



