
    <div class="header-topbar">
      <div class="container">
          <div class="row">
              <div class="col-xs-6 col-sm-8 col-md-9">
                  <div class="header-top_address">
                      <div class="header-top_list">
                       <span><i class="fas fa-phone-volume"></i></span>+2348038000008
                      </div>
                      <div class="header-top_list">
                       <span><i class="far fa-envelope-open"></i></span> <a href="#">poloman@gmail.com&#160</a>
                      </div>
                      <div class="header-top_list">
                       <span><i class="fas fa-map-marker-alt"></i></span>Airport road, Warri, Delta State.
                      </div>
                  </div>
                  <div class="header-top_login2">
                      <a href="#">Login </a>/
                      <a href="#"> Sign Up </a>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                  <div class="header-top_login mr-sm-3">
                      <a href="login.html">Login </a>/
                      <a href="sign-up.html"> Sign Up </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="main-navb" data-toggle="affix">
    <div class="container nav-menu2">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar2 navbar-toggleable-md navbar-light bg-faded">
                    <button class="navbar-toggler navbar-toggler2 navbar-toggler-right" type="button"
                        data-toggle="collapse" data-target="#navbarNavDropdown">
                        <span class="icon-menu"></span>
                    </button>
                    <a href="/" class="navbar-brand nav-brand2">
                        <img src="/images/logo/port-logistics.png" class="responsive-logo img-fluid" alt="responsive-logo">
                    </a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About<span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admission">Admissions</a>
                            </li>
                            <li class="js-navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown mega-dropdown">
                                        <a href="/academics" class="dropdown-toggle nav-link"
                                            data-toggle="dropdown">Academics <span
                                                class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                        <ul class="dropdown-menu mega-dropdown-menu row">
                                            <li class="col-lg-2">
                                                <img src="/images/logo/port-logistics.png" class="img-fluid dropdown-header"
                                                    alt="#">
                                                <img src="/images/courses/course-2.jpg" class="img-fluid dropdown-header"
                                                    alt="#">
                                                <img src="/images/courses/course-9.jpeg" class="img-fluid dropdown-header"
                                                    alt="#">
                                            </li>
                                            <li class="col-lg-3">
                                                <ul>
                                                    <li class="dropdown-header">College & School of Remedy</li>
                                                    <li><a href="/courseDetail/remedial-studies">School Of Remedial Studies</a></li>
                                                    <hr>
                                                    <li><a href="/courseDetail/finishing-studies">School Of Finishing Studies</a></li>
                                                    <hr>
                                                    <li><a href="/courseDetail/foundation-professional">Foundation Professional Innovation College Diploma</a></li>
                                                    <hr>
                                                    <li><a href="/courseDetail/preliminary-professional">College Of Preliminary Professional Innovation</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>
                                            <li class="col-lg-2">
                                                <ul>
                                                    <li class="dropdown-header">OND</li>
                                                    <li><a href="/courseDetail/professional-ond">Professional Ordinary National Diploma</a></li>
                                                    <hr>
                                                    <li><a href="/courseDetail/port-logistics">OND in Port Logistics Management & Mining Technology Management</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>
                                            <li class="col-lg-2">
                                                <ul>
                                                    <li class="dropdown-header">HND</li>
                                                    <li><a href="/courseDetail/professional-hnd">Professional Joint Higher National Diploma</a>
                                                    </li>
                                                    <hr>
                                                    <li><a href="/courseDetail/hnd">HND in Port Logistics & Mining Technology Management</a>
                                                    </li>
                                                    <hr>
                                                    <li><a href="/courseDetail/hospitality">HND in Hospitality & Event Business Management</a></li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>
                                            <li class="col-lg-3">
                                                <ul>
                                                    <li class="dropdown-header">POST GRADUATE/MASTERS</li>
                                                    <li><a href="/courseDetail/post-graduate">Executive Post Graduate Diploma</a></li>
                                                    <hr>
                                                    <li><a href="/courseDetail/logistics-&-mining">Executive Master in Port Logistics & Mining Technology Management</a></li>
                                                    </li>
                                                    <li class="divider"></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">
                                    Pages<span class="glyphicon glyphicon-chevron-down pull-right"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/about">About</a></li>
                                    <li><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                    <li><a class="dropdown-item" href="/">Landing Page</a>
                                    </li>
                                    <li><a class="dropdown-item" href="">Events</a></li>
                                    <li><a class="dropdown-item" href="/academics">Course Details</a></li>
                                    
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" href="#">Others Pages</a>
                                        <ul class="dropdown-menu dropdown-menu1">
                                            <li><a class="dropdown-item" href="login.html">Login</a></li>
                                            <li><a class="dropdown-item" href="sign-up.html">Sign Up</a></li>
                                            <li><a class="dropdown-item" href="index-2.html"></a>#</li>
                                            <li><a class="dropdown-item" href="index-video.html">#</a></li>
                                            <li><a class="dropdown-item" href="notice-board.html">#</a>
                                            </li>
                                            <li><a class="dropdown-item" href="chairman-speech.html">
                                                    Speech</a></li>
                                            <li><a class="dropdown-item" href="sample-page.html">#</a>
                                            </li>
                                            <li><a class="dropdown-item" href="faq.html">#</a></li>
                                            <li><a class="dropdown-item" href="coming-soon.html">#</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/apply">Enroll Now</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

