
 <%- include("../partials/otherHeader.ejs") %> 

 <section class="admission_cources">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12">
               <h2>HIGHER NATIONAL DIPLOMA IN PORT LOGISTICS & <br> MINING TECHNOLOGY MANAGEMENT <br>(18 Months OF 4-SEMESTER LEVEL) </h2>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid mt-4" alt="#">
           </div>
       </div>
       <div class="row justify-content-md-center">
           <div class="col-lg-8 mt-5">
               <div>
                 <h4><strong>AIMS OF THIS PROGRAMME</strong></h4>
                 <ul>
                   <li>To upgrade applicants who commenced their studies from POLOMAN Remedial Studies to Joint Higher National Diploma as a Conversion Scheme for B. Tech in B. Tech in Port Logistics Industry & Management.</li>
                   <li>Applicants must apply for application materials that would enable the registrar to determine their Suitability.</li>
                   <li>This Programme would be run in 3-semester level of 6-months per Semester.</li>
                   
                   <li>The applicant must be ready to attend seminars workshops and Conferences that would expose them to Hands-on experience from Professionals and academicians and occupational experts in the industry.</li>
                   <li>Applicants would render 3- Term / Project Paper per Semester which would be approved by an assigned Supervisor.</li>
                 </ul>
               </div>
               
               <div class="mt-5">
                 <h4><strong>DEPARTMENT: COLLEGE OF PORT & SHIPPING STUDIES </strong></h4>
                 <p><em>The academic timetable is sub-divided into 3-semester levels viz:</em></p>
                 <h6><strong>1st Semester system</strong></h6>
                 <ul>
                   <li>Port & Terminal Industry & Environment</li>
                   <li>Micro & Macro Economics</li>
                   <li>Contemporary Sciences</li>
                   <li>Contemporary Engineering Sciences & Technology</li>
                   <li>Quality Delivery Services & Customer Care Management for the Port Logistics Industry</li>
                   <li>Contemporary Liberal Arts</li>
                   <li>Contemporary Legal Framework </li>
                   <li>Contemporary Management Studies</li>
                   <li>Hospitality & Event Business</li>
                   <li>Mining Technology Industry </li>
                   <li>Maritime Geography </li>
                 </ul>
                 <h6><strong>2nd Semester system</strong></h6>
                 <ul>
                   <li>Transportation of Oil & Gas – Refinery & Oil & Gas Free Trade Zone</li>
                   <li>Transportation of Mineral Resources from Mining Sites for Shipment</li>
                   <li>Petroleum Industry Risk, Insurance and Taxation</li>
                   <li>Mining Industry Risks, Insurance & Taxation</li>
                   <li>Commodities Exporting Operations</li>
                   <li>Finance of International Trade</li>
                   <li>Oil & Gas Industry: Outsourcing, Procurement</li>
                   <li>Purchasing, Logistics & Supply Chain for the Oil & Gas Industry</li>
                   <li>Mining Industry: Purchasing, Outsourcing & Procurement Management</li>
                   <li>Computer Science Application in Port Logistics Industry</li>
                 </ul>
                 <h6><strong>3rd Semester system</strong></h6>
                 <ul>
                  <li>Maritime Economics</li>
                  <li>Entrepreneurship & Technical Skills Acquisition & Marketing </li>
                  <li>Mining Economics</li>
                  <li>International Law</li>
                  <li>Petroleum & Mining Accounting, Financial Management</li>
                  <li>Security, Emergency, Disaster, Search & Rescue Mission</li>
                  <li>Petroleum & Mining Labour & Industrial Relations</li>
                  <li>Port Logistics Business Risks, Insurance & Taxation</li>
                  <li>Hospitality & Event Business Risks, Insurance and Taxation</li>
                  <li>Health, Safety, Environment & Occupational Health & Safety Hazards</li>
                  <li>Water Transportation Logistics Support Management </li>
                  <li>Quantitative Decision Making in Management of Petroleum, Mining and Hospitality & Event Business Industries.</li>
                 </ul>
               </div>
             
           </div>
           <div class="col-lg-4">
             <div class="admission_discription">
              <h4>COLLEGE OF PORT & SHIPPING STUDIES</h4>
               <div class="star-rating">
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <br>
 
               <div class="">
                 <img src="/images/slide-5.jpg" class="img-fluid about-img" alt="#">
               </div>
             
           </div>
               <ul class="admission_rating mt-0">
                   <li>Ratings<span>:</span></li>
                   <li class="admission_star">4.5 Star</li>
                   <li class="admission_star-second">Starts<span>:</span></li>
                   <li class="admission_star">7 August 2020</li>
                   <li>Duration<span>:</span></li>
                   <li class="admission_star">18 Months</li>
                   <li>Semester<span>:</span></li>
                   <li class="admission_star">3</li>
                   <li class="admission_star-second">Full Time Studies<span>:</span></li>
                   <li class="admission_star">8am - 2pm</li>
                   <li class="admission_star-second">Part Time Studies<span>:</span></li>
                   <li class="admission_star">4pm - 9pm</li>
                   <li class="admission_star-second">Weekend Studies<span>:</span></li>
                   <li class="admission_star">==></li>
                   <li class="admission_star-second">Saturday<span>:</span></li>
                   <li class="admission_star">2pm - 9pm</li>
                   <li class="admission_star-second">Sunday<span>:</span></li>
                   <li class="admission_star">2pm - 6pm</li>
                   <li>Fees<span>:</span></li>
                   <li class="admission_star">#75000.00</li>
               </ul>
                 <li>Distance Learning Studies.</li>
                 <li>Flexa-study on a day- release, time chosen by student between 12.00pm and 5.00pm .</li>

                 <div class="">
                  <img src="/images/logo/logo.jpg" class="img-fluid about-img mt-4" alt="#" style="border: 1px solid skyblue; border-radius: 175px;">
                 </div>

                 <div class="admission_share-icon">
                  <h4>Share Course</h4>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                 </div>

                 <div class="admission-pdf mt-5">
                  <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
                  <p>course details PDF
                      <br>
                      <a href="#">DOWNLOAD</a>
                  </p>
                  <a href="/apply" class="btn btn-warning btn-pdf_join">Join this course</a>
                 </div>
           </div>
       </div>
   </div>
 </section>
 
 <div id="instafeed"></div>