
 <%- include("../partials/otherHeader.ejs") %> 

<section class="admission_cources">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-12">
              <h2>SCHOOL OF REMEDIAL STUDIES </h2>
                  <br> <br>
                <h3>PURPOSE</h3>
              <ul>
                <ol>To educate persons who could not make to senior school either by performance or otherwise.</ol>
                <ol>To promote education among persons who are not in market space of (1) above but are engaged as support operatives in Port Logistics and the Mining environment either in Solid Mineral or Oil & Gas especially in Liquefied Natural Gas.</ol>
                <ol>These Employees would be made to take the Junior WAEC or other equivalent certification locally or abroad.</ol>
                <ol>This Programme is 9-months of 3-semesters Studies.</ol>
              </ul>
          </div>
          
      </div>
      <div class="row">
          <div class="col-md-12">
              <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid" alt="#">
          </div>
      </div>
      <div class="row justify-content-md-center">
            
            <div class="col-lg-12 mt-4">
              <h4><strong>BOARD OF GOVERNORS OF SCHOOL OF REMEDIAL STUDIES PROGRAMME</strong></h4>
            </div>

            <div class="col-lg-4 col-lg-push-4">
              <strong>Dean of School of Remedial Studies:</strong>
            </div>
            <div class="col-lg-8 col-lg-pull-8">
              <p>A Retired Rector (Head of Department in a University/Polytechnic/ College of Education)</p>
            </div>

            
            <div class="col-lg-4 col-lg-push-4">
              <strong>Deputy Dean of School of Remedial Studies:</strong>
            </div>
            <div class="col-lg-8 col-lg-pull-8">
              <p> Retired Rector (Head of Department in a University/Polytechnic/ College of Education)</p>
            </div>
            <br>
            <div class="col-lg-4 col-lg-push-4">
              <strong>Dean of Academic Studies:</strong>
            </div>
            <div class="col-lg-8 col-lg-pull-8">
              <p> SBU Consults & Associates </p>
            </div>

            <div class="col-lg-4 col-lg-push-4">
              <strong>Chief Librarian:</strong>
            </div>
            <div class="col-lg-8 col-lg-pull-8">
              <p> 2M Book- Affairs House </p>
            </div>

            <div class="col-lg-4 col-lg-push-4">
              <strong>Bursar:</strong>
            </div>
            <div class="col-lg-8 col-lg-pull-8">
              <p> Prince Igho Umukoro </p>
            </div>

            <div class="col-lg-4 col-lg-push-4">
              <strong>Secretary / Admin Assistant:</strong>
            </div>
            <div class="col-lg-8 col-lg-pull-8">
              <p> Barr. Jonas Iniyemana Esq. </p>
            </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="col-lg-8 mt-5">
          
              <div>
                <h4><strong>ACADEMIC & TECHNICAL STUDIES PROGRAMME OF SCHOOL OF REMEDIAL STUDIES</strong></h4>
                <p>School of Remedial Studies include the following departments:</p>
                <ul>
                  <li>	Department of Remedial Science.</li>
                  <li>	Department of Remedial Engineering</li>
                  <li>	Department of Remedial Business & Management Studies</li>
                  <li>	Department of Remedial Vocational & Entrepreneurship Studies</li>
                  <li>	Department of Remedial Liberal Arts & Social Sciences</li>
                </ul>
              </div>
              <div class="mt-5">
                <h4><strong>DEPARTMENT OF REMEDIAL SCIENCE</strong></h4>
                <h6 class="mt-4"><strong>DEPARTMENTAL OFFICERS- DEPARTMENT OF REMEDIAL SCIENCE</strong></h6>
              </div>
              <div>
                <ul>
                  <ol>Head of Department: <span class="ml-5">M.Sc/Med</span></ol> 
                  <ol>Deputy Head of Department: <span class="ml-5">B.Ed. / B.Sc.</span></ol> 
                  <ol>Lecturer Grade I: <span class="ml-5">NCE/ HND</span></ol>
                  <ol>Lecturer Grade II: <span class="ml-5">NCE</span></ol>
                  <ol>Lecturer Grade III	<span class="ml-5">OND</span></ol>
                  <ol>Department Secretary</ol>
                  <ol>Department Assistant</ol>
                </ul>
              </div>
              <div class="mt-4">
                <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
                <h4><strong>1st Semester system (3-Months)</strong></h4>
                <ul>
                  <li>English language</li>
                  <li>Biology</li>
                  <li>General Mathematics 1</li>
                  <li>Geography</li>
                  <li>Civic, Physical & Health Education</li>
                </ul>
                <h4><strong>2nd Semester system (3-Months)</strong></h4>
                <ul>
                  <li>Technical Drawing</li>
                  <li>Chemistry</li>
                  <li>Agriculture</li>
                  <li>Literature in English</li>
                  <li>French</li>
                </ul>
                <h4><strong>3rd Semester system (3-Months)</strong></h4>
                <ul>
                  <li>Engineering Science</li>
                  <li>Physics</li>
                  <li>Economics</li>
                  <li>Computer Science</li>
                  <li>Data Processing</li>
                </ul>
              </div>
            
          </div>
          <div class="col-lg-4">
            <div class="admission_discription">
              <h4>School Of Remedial Studies</h4>
              <div class="star-rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
              <br>
             <h4>Programmes</h4>
              <h6>This programme is sub-divided into specialism such as:</h6>
              <ul>
                  <li>I.	Science Remedial Programme</li>
                  <li>II.	Technology, Engineering Remedial Programme</li>
                  <li>III.	Business & Management Programme</li>
                  <li>IV.	Vocational & Entrepreneurship Programme</li>
                  <li>V.	Liberal & Social Science Programme</li>
              </ul>
            
          </div>
              <ul class="admission_rating mt-0">
                  <li>Ratings<span>:</span></li>
                  <li class="admission_star">4.5 Star</li>
                  <li class="admission_star-second">Starts<span>:</span></li>
                  <li class="admission_star">7 August 2020</li>
                  <li>Duration<span>:</span></li>
                  <li class="admission_star">9 months</li>
                  <li>Semester<span>:</span></li>
                  <li class="admission_star">3</li>
                  <li class="admission_star-second">Full Time Studies<span>:</span></li>
                  <li class="admission_star">8am - 2pm</li>
                  <li class="admission_star-second">Part Time Studies<span>:</span></li>
                  <li class="admission_star">5pm - 9pm</li>
                  <li class="admission_star-second">Weekend Studies<span>:</span></li>
                  <li class="admission_star">==></li>
                  <li class="admission_star-second">Saturday<span>:</span></li>
                  <li class="admission_star">2pm - 8pm</li>
                  <li class="admission_star-second">Sunday<span>:</span></li>
                  <li class="admission_star">2pm - 4pm</li>
                  <li>Fees<span>:</span></li>
                  <li class="admission_star">#75000.00</li>
              </ul>
                <li>Distance Learning Studies.</li>
                <li>Day- release studies (At the determined schedule of the potential applicant).</li>
                <p><strong>EXAMINATION</strong></p>
                <h6 class="mt-0">Students would be advised to take their best 8-subjects as per school evaluation etc.</h6>
          </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-6 mt-5">
          <div class="mt-5">
            <h4><strong>DEPARTMENT OF REMEDIAL TECHOLOGY & ENGINEERING</strong></h4>
            <h6 class="mt-4"><strong>DEPARTMENTAL OFFICERS- DEPARTMENT OF REMEDIAL TECHNOLOGY</strong></h6>
          </div>
          <div class="">
            <ul>
              <ol>Head of Department: <span class="ml-5">M.Sc/Med</span></ol> 
              <ol>Deputy Head of Department: <span class="ml-5">B.Ed. / B.Sc.</span></ol> 
              <ol>Lecturer Grade I: <span class="ml-5">NCE/ HND</span></ol>
              <ol>Lecturer Grade II: <span class="ml-5">NCE</span></ol>
              <ol>Lecturer Grade III	<span class="ml-5">OND</span></ol>
              <ol>Department Secretary</ol>
              <ol>Department Assistant</ol>
            </ul>
          </div>
          <div class="mt-4">
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h4><strong>1st Semester system (3-Months)</strong></h4>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>General Mathematics 1</li>
              <li>Geography</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h4><strong>2nd Semester system (3-Months)</strong></h4>
            <ul>
              <li>Electronics</li>
              <li>Auto Mechanics</li>
              <li>Building Construction</li>
              <li>Metal Work</li>
              <li>Chemistry</li>
            </ul>
            <h4><strong>3rd Semester system (3-Months)</strong></h4>
            <ul>
              <li>Geography</li>
              <li>Physics</li>
              <li>Technology</li>
              <li>Computer Science</li>
              <li>Wood Work</li>
            </ul>
          </div>

          <hr>

          <div class="mt-5">
            <h4><strong>DEPARTMENT OF REMEDIAL BUSINESS & MANAGEMENT STUDIES</strong></h4>
            <h6 class="mt-4"><strong>DEPARTMENTAL OFFICERS- DEPARTMENT OF REMEDIAL BUSINESS & MANAGEMENT</strong></h6>
          </div>
          <div class="">
            <ul>
              <ol>Head of Department: <span class="ml-5">Ph.d./B.Ed.</span></ol> 
              <ol>Deputy Head of Department: <span class="ml-5">Ph.d. / B.Ed. </span></ol> 
              <ol>Lecturer Grade I: <span class="ml-5">M.Sc. / NCE</span></ol>
              <ol>Lecturer Grade II: <span class="ml-5">M.Sc. / NCE</span></ol>
              <ol>Lecturer Grade III:	<span class="ml-5">B.Sc. / NCE</span></ol>
              <ol>Department Secretary: <span class="ml-5">HND</span></ol>
              <ol>Department Assistant: <span class="ml-5">OND</span></ol>
            </ul>
          </div>
          <div class="mt-4">
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h4><strong>1st Semester system (3-Months)</strong></h4>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>Mathematics</li>
              <li>Literature in English</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h4><strong>2nd Semester system (3-Months)</strong></h4>
            <ul>
              <li>Hospitality & Tourism</li>
              <li>Commerce</li>
              <li>Economics</li>
              <li>Marketing</li>
              <li>Insurance</li>
            </ul>
            <h4><strong>3rd Semester system (3-Months)</strong></h4>
            <ul>
              <li>Computer Science</li>
              <li>French</li>
              <li>Financial Accounting</li>
              <li>Principles of Cost Accounting</li>
              <li>Data Processing</li>
            </ul>
          </div>
          <div class="admission-pdf mt-5">
            <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
            <p>course details PDF
                <br>
                <a href="#">DOWNLOAD</a>
            </p>
            <a href="#" class="btn btn-warning btn-pdf_join">Join this course</a>
        </div>
        </div>

        <div class="col-lg-6 mt-5">
          <div class="mt-5">
            <h4><strong>DEPARTMENT OF VOCATIONAL & ENTREPRENEURSHIP STUDIES</strong></h4>
            <h6 class="mt-4"><strong>DEPARTMENTAL OFFICERS- DEPARTMENT OF REMEDIAL VOCATIONAL & ENTREPRENEURSHIP STUDIES</strong></h6>
          </div>
          <div class="">
            <ul>
              <ol>Head of Department: <span class="ml-5">Ph.d. /M.Sc.</span></ol> 
              <ol>Deputy Head of Department: <span class="ml-5">M.Ed. / MTech. </span></ol> 
              <ol>Lecturer Grade I: <span class="ml-5">M.Ed. (Tech)</span></ol>
              <ol>Lecturer Grade II: <span class="ml-5">MEd (Science)</span></ol>
              <ol>Lecturer Grade III:	<span class="ml-5">M.Ed. (Business Studies)</span></ol>
              <ol>Department Secretary: <span class="ml-5">B.Sc</span></ol>
              <ol>Department Assistant: <span class="ml-5">HND</span></ol>
            </ul>
          </div>
          <div class="mt-4">
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h4><strong>1st Semester system (3-Months)</strong></h4>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>General Mathematics 1</li>
              <li>Literature in English</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h4><strong>2nd Semester system (3-Months)</strong></h4>
            <ul>
              <li>Computer Science</li>
              <li>French</li>
              <li>Business Management</li>
              <li>Food & Nutrition</li>
              <li>Animal Husbandry</li>
            </ul>
            <h4><strong>3rd Semester system (3-Months)</strong></h4>
            <ul>
              <li>Catering Craft Practice</li>
              <li>Agricultural Science</li>
              <li>Financial Accounting</li>
              <li>Principles of Cost Accounting</li>
              <li>Marketing</li>
            </ul>
          </div>

          <hr>

          <div class="mt-5">
            <h4><strong>DEPARTMENT OF REMEDIAL LIBERAL ARTS & SOCIAL SCIENCES</strong></h4>
            <h6 class="mt-4"><strong>DEPARTMENTAL OFFICERS- DEPARTMENT OF REMEDIAL LIBERAL ARTS & SOCIAL SCIENCES</strong></h6>
          </div>
          <div class="">
            <ul>
              <ol>Head of Department: <span class="ml-5">Ph.d. /M.Sc.</span></ol> 
              <ol>Deputy Head of Department: <span class="ml-5">B.Ed. / M.Sc.</span></ol> 
              <ol>Lecturer Grade I: <span class="ml-5">B.Ed. / B.Sc.</span></ol>
              <ol>Lecturer Grade II: <span class="ml-5">B.Sc. / NCE</span></ol>
              <ol>Lecturer Grade III:	<span class="ml-5">B.Ed</span></ol>
              <ol>Department Secretary: <span class="ml-5">HND</span></ol>
              <ol>Department Assistant: <span class="ml-5">OND</span></ol>
            </ul>
          </div>
          <div class="mt-4">
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h4><strong>1st Semester system (3-Months)</strong></h4>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>General Mathematics</li>
              <li>Literature in English</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h4><strong>2nd Semester system (3-Months)</strong></h4>
            <ul>
              <li>Computer Science</li>
              <li>History</li>
              <li>Geography</li>
              <li>Economics</li>
              <li>Government</li>
            </ul>
            <h4><strong>3rd Semester system (3-Months)</strong></h4>
            <ul>
              <li>Virtual Arts</li>
              <li>French</li>
              <li>Insurance</li>
              <li>Financial Accounting</li>
              <li>Principles of cost Accounting</li>
            </ul>
          </div>
          <div class="admission_share-icon">
            <h4>Share Course</h4>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        </div>
        </div>
      </div>
  </div>
</section>


<div id="instafeed"></div>