
 <%- include("../partials/otherHeader.ejs") %> 

 <section class="admission_cources">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12">
               <h2>COLLEGE OF PRELIMINARY PROFESSIONAL INNOVATION <br>(2 YEARS OF 3-SEMESTER LEVEL) </h2>
                   <br> <br>
                 <h4><strong>CURRICULUM OF STUDIES</strong></h4>
            
               <p>The curriculum has taken cognizance of the particularities culture, mores, politics- even the financial basics of various geo-cultural setting which makes any student from any part of the world to adapt. The Academy’s curriculum of studies will enhance and fosters international understanding and help build community spirits by encouraging students to think as internationalist as students would be taught Arabic and Chinese Language respectively.</p>
 
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid" alt="#">
           </div>
       </div>
       <div class="row justify-content-md-center">
           <div class="col-lg-8 mt-5">
               <div>
                 <h4><strong>PURPOSE</strong></h4>
                 <ul>
                   <li>To Provide basic knowledge to understanding the ultimate course framework of Port Logistics & Mining Management in all its ramification as it relates to this level.</li>
                   <li>To strengthen their understanding of basic Use of English, French & Mathematical Methods necessary to providing a groundwork for further application into the immediate and advanced studies in Port Logistics & Mining Management.</li>
                   <li>To position students to be academically prepared, intellectually curious, challenged of taking progressively harder courses and bridging core subjects for Professional Innovation Diploma courses to boosting their chances of getting to start the Diploma courses at full time, part-time, week-end release, distance learning, etc.</li>
                   <li>Enabling graduates of being employable and to register as support operatives at Port complexes and Mining Sites or as Apprentice Freight Forwarder in conformity with the Council for the Regulation of Freight Forwarding in Nigeria (CRFFN) Act No.16 of 2007 and other Maritime related employment ground like Seaport/ Off-dock Terminal Complexes, Inland Container Depot (ICD), Airport and other services providers in the Port Logistics, and Support/ Operatives in our Mining Sites, etc. </li>
                   <li>Enabling applicant to remedy their deficiencies in his/ her Secondary School Certificate days. It will remedy the 4-years of English/ French which the applicant is expected, 3-years of Mathematical Methods, 3-years of Contemporary and Laboratory Sciences, 3-years of Social Science Studies like Civic Education and Sport Sciences, 3-years Accounting and Business Environment like Computer Science, Data Processing, Insurance, Marketing, Business Management, etc.,3-years of Geography that was from their previous educational Background.</li>
                   <li>To be exposed to learning provocative use of Computer, Research Methodology including Seminar on how to conduct Research and gathering of data, structure, arguments, writing logically and in the use of footnotes and bibliographies.</li>
                 </ul>
               </div>
               <div class="mt-5">
                 <h4><strong>QUALIFICATION NECESSARY FOR THIS LEVEL</strong></h4>
                 <ul>
                   <li>Hold a Certificate from the School of Remedial Studies, in addition to Certificates from the School of Finishing Studies.</li>
                   <li>Applicant to produce evidence of Junior School Secondary Examination Certificate of the West African Examination Council (WAEC, JSSCE) and in addition, the applicant holds the Senior Secondary School Certificate of either NECO OR WAEC.</li>
                   <li>Applicant who is recommended as a fit and proper person for this level – College of Professional Innovation Certificate by a person or Official standing approved by the Council.</li>
                   <li>Applicant who is a married woman must submit certificate made out in her maiden name which should also include her marriage certificate in certified or photocopies of certificates are accepted.</li>
                 </ul>
               </div>
               
               <div class="mt-5">
                 <h4><strong>DEPARTMENT OF PRELIMINARY SCIENCE</strong></h4>
                 <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
                 <h6><strong>1st Semester system</strong></h6>
                 <ul>
                   <li>Basic use English</li>
                   <li>Basic use of French</li>
                   <li>Basic Contemporary Science</li>
                   <li>Basic Geology & Mining Environment</li>
                   <li>Basic General Mathematics</li>
                 </ul>
                 <h6><strong>2nd Semester system</strong></h6>
                 <ul>
                   <li>Basic Technical Drawing</li>
                   <li>Basic Computer Science</li>
                   <li>Basic Oil & Gas Industry</li>
                   <li>Basic Port & Terminal Industry</li>
                   <li>Basic Port Logistics, Ship & Cargo Handling Operations</li>
                 </ul>
                 <h6><strong>3rd Semester system (4-Months)</strong></h6>
                 <ul>
                  <li>Basic Engineering Science</li>
                  <li>Basic Economics</li>
                  <li>Basic Management Theory & Applications</li>
                  <li>Basic Legal Framework</li>
                  <li>Basic Hospitality Business Environment</li>
                 </ul>
               </div>
             
           </div>
           <div class="col-lg-4">
             <div class="admission_discription">
               <h4>COLLEGE OF PRELIMINARY PROFESSIONAL INNOVATION</h4>
               <div class="star-rating">
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <br>
 
               <div class="">
                 <img src="/images/slide-5.jpg" class="img-fluid about-img" alt="#">
             </div>
             
           </div>
               <ul class="admission_rating mt-0">
                   <li>Ratings<span>:</span></li>
                   <li class="admission_star">4.5 Star</li>
                   <li class="admission_star-second">Starts<span>:</span></li>
                   <li class="admission_star">7 August 2020</li>
                   <li>Duration<span>:</span></li>
                   <li class="admission_star">2 Years</li>
                   <li>Semester<span>:</span></li>
                   <li class="admission_star">3</li>
                   <li class="admission_star-second">Full Time Studies<span>:</span></li>
                   <li class="admission_star">8am - 2pm</li>
                   <li class="admission_star-second">Part Time Studies<span>:</span></li>
                   <li class="admission_star">4pm - 9pm</li>
                   <li class="admission_star-second">Weekend Studies<span>:</span></li>
                   <li class="admission_star">==></li>
                   <li class="admission_star-second">Saturday<span>:</span></li>
                   <li class="admission_star">2pm - 9pm</li>
                   <li class="admission_star-second">Sunday<span>:</span></li>
                   <li class="admission_star">2pm - 6pm</li>
                   <li>Fees<span>:</span></li>
                   <li class="admission_star">#75000.00</li>
               </ul>
                 <li>Distance Learning Studies.</li>
                 <li>Flexa-study on a day- release, time chosen by student between 12.00pm and 5.00pm .</li>
                <div class="mt-5">
                  <strong><p>THE POLOMAN COLLEGE LANGUAGE LABORATORY FOR ENGLISH /FRENCH /ARABIC, CHINESE, ETC.</p>
                  </strong>
                  <p>The Academy believes that the study of Languages will enhance comprehension, communication and group discussions such as YAR ADUA’S Substantial Budget Alleviation on North East Region (Boko Haram Bug) or CLARENCE THOMAS’S hearing on Sexual Harassment is a terrible thing and ruins working relationships between man and woman. The students should be able to take a position for or against. These type of discussions or debating in English, French, Chinese, Arabic, etc. will improve student language skills which will improve their accents and it will become virtually flawless which will zero-out tripping up over difficult bits of grammar students vocabulary fluency and confidence rivals or exceeds that of many native speaking teens</p>
                </div>
           </div>
       </div>
 
       <div class="row justify-content-md-center">
         <div class="col-lg-6 mt-5">
           <div class="mt-5">
             <h4><strong>DEPARTMENT OF PRELIMINARY TECHNOLOGY</strong></h4>
             <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
             <h6><strong>1st Semester system</strong></h6>
             <ul>
               <li>Basic Use of English</li>
               <li>Basic Use of French</li>
               <li>Basic Contemporary Science</li>
               <li>Mathematics</li>
               <li>Technical Drawing</li>
             </ul>
             <h6><strong>2nd Semester system</strong></h6>
             <ul>
               <li>Basic Computer Science</li>
               <li>Basic Geography</li>
               <li>Basic Engineering Science</li>
               <li>Basic Mining Environment</li>
               <li>Basic Oil & Gas Environment</li>
               <li>Chemistry</li>
             </ul>
             <h6><strong>3rd Semester system (4-Months)</strong></h6>
             <ul>
               <li>Basic Technology skills Acquisitions I (Applied Electricity & Auto Mechanics)</li>
               <li>Basic Port & Terminal Industry Environment</li>
               <li>Basic Port Logistics Environment</li>
               <li>Basic Technology Skills Acquisition II (Building Construction/ Metal work/ woodwork)</li>
               <li>Basic Management Theory & Application</li>
             </ul>
           </div>
 
           <hr>
 
           <div class="mt-5">
             <h4><strong>DEPARTMENT OF PRELIMINARY BUSINESS & MANAGEMENT STUDIES</strong></h4>
             <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
             <h4><strong>1st Semester system</strong></h4>
             <ul>
               <li>Basic English language</li>
               <li>Basic Use of French</li>
               <li>Basic Mathematics</li>
               <li>Basic Contemporary Science</li>
               <li>Basic Geology</li>
             </ul>
             <h4><strong>2nd Semester system</strong></h4>
             <ul>
               <li>Basic Economics</li>
               <li>Basic Oil & Gas Industry Environment</li>
               <li>Basic Management Theory & Application</li>
               <li>Basic Port & Terminal Industry Environment</li>
               <li>Basic Port Logistics Environment</li>
             </ul>
             <h4><strong>3rd Semester system</strong></h4>
             <ul>
               <li>Basic Legal Framework</li>
               <li>Basic Marketing</li>
               <li>Basic Mining Environment</li>
               <li>Basic Computer Science</li>
               <li>Basic Accounting & Insurance</li>
             </ul>
           </div>

           <div class="mt-5">
             <h4><strong>DEPARTMENT OF PRELIMINARY SOCIAL SCIENCES</strong></h4>
             <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
             <h4><strong>1st Semester system</strong></h4>
             <ul>
               <li>Basic Use of English</li>
               <li>Basic Use of French</li>
               <li>Basic Mathematics</li>
               <li>Basic Contemporary Science</li>
               <li>Basic Civic, Physical & Health Education</li>
             </ul>
             <h4><strong>2nd Semester system</strong></h4>
             <ul>
               <li>Basic Micro & Macro Economics</li>
               <li>Basic Geography</li>
               <li>Basic Political Studies</li>
               <li>Basic Sociology</li>
               <li>Basic Computer Sciences</li>
             </ul>
             <h4><strong>3rd Semester system</strong></h4>
             <ul>
               <li>Basic Agricultural Science</li>
               <li>Basic Animal Husbandry</li>
               <li>Basic Oil & Gas Environment</li>
               <li>Basic Hospitality Business Environment</li>
               <li>Basic Solid Minerals Environment/ Mining Environment</li>
             </ul>
           </div>
           <div class="admission-pdf mt-5">
             <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
             <p>course details PDF
                 <br>
                 <a href="#">DOWNLOAD</a>
             </p>
             <a href="/apply" class="btn btn-warning btn-pdf_join">Join this course</a>
         </div>
         </div>
 
         <div class="col-lg-6 mt-5">
           
           <div class="mt-5">
             <h4><strong>DEPARTMENT OF PRELIMINARY VOCATIONAL & ENTREPRENEURSHIP STUDIES</strong></h4>
             <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
             <h6><strong>1st Semester system</strong></h6>
             <ul>
               <li>Basic Use of English & French</li>
               <li>Basic Port & Terminal Industry & Port Logistics Environment</li>
               <li>Basic Contemporary Science</li>
               <li>Basic Entrepreneurship & Vocational Skills Acquisition</li>
               <li>Mathematics</li>
             </ul>
             <h6><strong>2nd Semester system</strong></h6>
             <ul>
               <li>Basic Engineering Science & Drawing</li>
               <li>Basic Hospitality Business & Marketing</li>
               <li>Basic Geology, Oil & Gas & Mining Environment </li>
               <li>Basic Food & Nutrition</li>
               <li>Basic Legal Framework & Insurance</li>
             </ul>
             <h6><strong>3rd Semester system (4-Months)</strong></h6>
             <ul>
               <li>Basic Computer Science</li>
               <li>Basic Business Management</li>
               <li>Basic Animal Husbandry</li>
               <li>Basic Catering Craft Practice/ Management –in-Living</li>
               <li>Basic Principles of Financial & Cost Accounting</li>
             </ul>
           </div>
 
           <hr>
 
          
           <div class="mt-5">
             <h4><strong>DEPARTMENT OF PRELIMINARY ENGINEERING STUDIES</strong></h4>
             <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
             <h6><strong>1st Semester system</strong></h6>
             <ul>
               <li>Basic Use of English & French </li>
               <li>Basic Contemporary Science</li>
               <li>Basic Mathematics</li>
               <li>Basic Engineering Science</li>
               <li>Basic Geology</li>
             </ul>
             <h6><strong>2nd Semester system</strong></h6>
             <ul>
               <li>Basic Computer Science</li>
               <li>Basic Further Mathematics</li>
               <li>Basic Port & Terminal Industry Environment</li>
               <li>Basic Port Logistics Environment</li>
               <li>Basic Hospitality Business Environment</li>
             </ul>
             <h6><strong>3rd Semester system</strong></h6>
             <ul>
               <li>Basic Oil & Gas Industry Environment</li>
               <li>Basic Mining Environment</li>
               <li>Basic Technical Drawing</li>
               <li>Basic Economics</li>
               <li>Basic Management Theory & Applications</li>
             </ul>
           </div>
           <div class="mt-5">
             <h4><strong>DEPARTMENT OF PRELIMINARY LIBERAL & MEDIA STUDIES</strong></h4>
             <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
             <h6><strong>1st Semester system</strong></h6>
             <ul>
               <li>Basic Use of English </li>
               <li>Basic Use of French</li>
               <li>Basic Literary, Logical, Critical Reasoning & Writings</li>
               <li>Contemporary sciences</li>
               <li>Mathematics</li>
             </ul>
             <h6><strong>2nd Semester system</strong></h6>
             <ul>
               <li>Basic Media Studies</li>
               <li>Basic Communication in Organization</li>
               <li>Basic Geology</li>
               <li>Basic Port Logistics Environment</li>
               <li>Basic Hospitality Business Environment</li>
             </ul>
             <h6><strong>3rd Semester system</strong></h6>
             <ul>
               <li>Basic Oil & Gas Industry Environment</li>
               <li>Basic Mining Environment</li>
               <li>Basic Hospitality Business Environment</li>
               <li>Basic Social Sciences</li>
               <li>Basic Computer Science</li>
             </ul>
           </div>
           <div class="admission_share-icon">
             <h4>Share Course</h4>
             <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
             <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
             <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
             <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
             <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
         </div>
         </div>
       </div>
   </div>
 </section>
 
 
 <div id="instafeed"></div>