
 <%- include("../partials/otherHeader.ejs") %> 

 <section class="admission_cources">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12">
               <h2>PROFESSIONAL JOINT HIGHER NATIONAL DIPLOMA <br>(18 Months OF 4-SEMESTER LEVEL) </h2>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid mt-4" alt="#">
           </div>
       </div>
       <div class="row justify-content-md-center">
           <div class="col-lg-8 mt-5">
               <div>
                 <h4><strong>AIMS OF THIS PROGRAMME</strong></h4>
                 <ul>
                   <li>To prepare students for the award of Joint Higher National Diploma</li>
                   <li>As it is referred to as Joint means hands- on experience in the industry they will eventually 
                    seek employment.</li>
                   <li>To prepare students to be suitable to the demands of the sectors where they would seek immediate employment after graduation or completion of National Youth Service Corps as Junior Manager or Assistant Operations Manager in Port Complexes or Mining Sites environment.</li>
                   <li>To prepare students to be able to go on to study for the Master-In- Technology in any of these 
                    Specialism. <ul>
                      <li>Port Logistics Environment</li>
                      <li>Port & Terminal industry & Management</li>
                      <li>Mining Technology & Engineering</li>
                      <li>Petroleum Management & Marketing</li>
                      <li>Petroleum Economics & Finance</li>
                      <li>Petroleum Risk & Insurance Management</li>
                      <li>Mining Management & Marketing</li>
                      <li>Mining Economics & Finance</li>
                      <li>Petroleum Accounting & Taxation</li>
                      <li>Petroleum Financial Management</li>
                      <li>Mining Accounting & Taxation</li>
                      <li>Mining Risk & Insurance Management</li>
                      <li>Hospitality Business & Management</li>
                      <li>Entrepreneurship & Technical Skills Acquisitions Management</li>
                      <li>Labour & Industrial Relations</li>
                      <li>Health, Safety, Environment & Occupational Health & Safety Hazards</li>
                      <li>Security, Disaster, Emergency Management, Search & Rescue</li>
                      <li>Customer Care Management</li>
                    </ul> </li>
                   <li>The Students while in session would have to spend 2-months in an economic sector of their choice that would enable them to write their term/Project papers before graduation.</li>
                   <li>Students would be expected to attend to workshop, conferences, seminars, so as to shore up their confidence and listen to experienced persons in this industry, etc.</li>
                 </ul>
               </div>
               
               <div class="mt-5">
                 <h4><strong>DEPARTMENT: COLLEGE OF PROFESSIONAL JOINT HIGHER NATIONAL DIPLOMA</strong></h4>
                 <p><em>The academic timetable is sub-divided into 4-semester levels viz:</em></p>
                 <h6><strong>1st Semester system</strong></h6>
                 <ul>
                   <li>Applied Chinese Language</li>
                   <li>Applied Arabic Language in Communication, Information, Writing & Presentation Skills</li>
                   <li>Applied Quantitative Decision Making in Port Logistics Industry</li>
                   <li>Applied Engineering Science & Drawings</li>
                   <li>Applied Food & Nutrition, Hospitality & Event Business Environment Management</li>
                   <li>Applied Entrepreneurship & Technology Skills Acquisitions</li>
                   <li>Applied Citizenship, Health & Sports Educations</li>
                   <li>Applied Contemporary Port & Mining Politics</li>
                   <li>Applied International Law & International Law of the Sea</li>
                   <li>Applied Mining Production Risks & Insurance Management</li>
                   <li>Applied Philosophy & Contemporary History of the World</li>
                 </ul>
                 <h6><strong>2nd Semester system</strong></h6>
                 <ul>
                   <li>Applied Geological Sciences</li>
                   <li>Applied Mining Engineering & Purchasing, Outsourcing & Procurement Management</li>
                   <li>Applied Leadership Skills Management</li>
                   <li>Applied Company Law & Corporate Governance for the Conduct & Survival of Business</li>
                   <li>Applied Port & Terminal Industry & Environment & Port Logistics Environment</li>
                   <li>Applied Computer Science</li>
                   <li>Applied Quantitative Decision Making for Hospitality & Events Business Management</li>
                   <li>Applied Politics, Sociology and Public Policy & Administration</li>
                   <li>Applied Mining Technology & Warehousing & Inventory Management</li>
                   <li>Applied Commodities Exporting Operations</li>
                   <li>Transportation Geography</li>
                 </ul>
                 <h6><strong>3rd Semester system</strong></h6>
                 <ul>
                  <li>Applied Aviation & Airlines Management</li>
                  <li>Applied Bus & Trucking Network Management</li>
                  <li>Finance of International Trade</li>
                  <li>Petroleum Marketing Management & International Petroleum Law</li>
                  <li>Petroleum Economics & Technology</li>
                  <li>Applied Business Ethics</li>
                  <li>Applied Data Processing</li>
                  <li>Applied Accounting for Management</li>
                  <li>Applied Taxation for Oil & Gas Industry & Mining Operations, Hospitality & Events Business</li>
                  <li>Applied Animal Husbandry</li>
                  <li>Applied Rail Transportation Network Management</li>
                 </ul>
                 <h6><strong>4th Semester system</strong></h6>
                 <ul>
                  <li>Applied Water Transportation Network Management</li>
                  <li>Applied Transportation Economics</li>
                  <li>Applied Mining Economics & Technology</li>
                  <li>Applied Mining Management & Marketing</li>
                  <li>Applied Oil & Gas Risk and Insurance Management</li>
                  <li>Applied Risk & Insurance for Non-Oil & Mining</li>
                  <li>Applied Human Resource Management & Labour & Industrial Relations</li>
                  <li>Applied Customer Care Management</li>
                  <li>Applied Business Negotiations</li>
                  <li>Applied Strategic & Financial Management</li>
                  <li>Project Paper</li>
                 </ul>
               </div>
             
           </div>
           <div class="col-lg-4">
             <div class="admission_discription">
               <h4>COLLEGE OF PROFESSIONAL JOINT HIGHER NATIONAL DIPLOMA</h4>
               <div class="star-rating">
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <br>
 
               <div class="">
                 <img src="/images/slide-5.jpg" class="img-fluid about-img" alt="#">
             </div>
             
           </div>
               <ul class="admission_rating mt-0">
                   <li>Ratings<span>:</span></li>
                   <li class="admission_star">4.5 Star</li>
                   <li class="admission_star-second">Starts<span>:</span></li>
                   <li class="admission_star">7 August 2020</li>
                   <li>Duration<span>:</span></li>
                   <li class="admission_star">18 Months</li>
                   <li>Semester<span>:</span></li>
                   <li class="admission_star">4</li>
                   <li class="admission_star-second">Full Time Studies<span>:</span></li>
                   <li class="admission_star">8am - 2pm</li>
                   <li class="admission_star-second">Part Time Studies<span>:</span></li>
                   <li class="admission_star">4pm - 9pm</li>
                   <li class="admission_star-second">Weekend Studies<span>:</span></li>
                   <li class="admission_star">==></li>
                   <li class="admission_star-second">Saturday<span>:</span></li>
                   <li class="admission_star">2pm - 9pm</li>
                   <li class="admission_star-second">Sunday<span>:</span></li>
                   <li class="admission_star">2pm - 6pm</li>
                   <li>Fees<span>:</span></li>
                   <li class="admission_star">#75000.00</li>
               </ul>
                 <li>Distance Learning Studies.</li>
                 <li>Flexa-study on a day- release, time chosen by student between 12.00pm and 5.00pm .</li>

                 <div class="">
                  <img src="/images/logo/logo.jpg" class="img-fluid about-img mt-4" alt="#" style="border: 1px solid skyblue; border-radius: 175px;">
                 </div>

                 <div class="admission_share-icon">
                  <h4>Share Course</h4>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                 </div>

                 <div class="admission-pdf mt-5">
                  <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
                  <p>course details PDF
                      <br>
                      <a href="#">DOWNLOAD</a>
                  </p>
                  <a href="/apply" class="btn btn-warning btn-pdf_join">Join this course</a>
                 </div>
           </div>
       </div>
   </div>
 </section>
 
 
 <div id="instafeed"></div>