
 <%- include("../partials/otherHeader.ejs") %> 

 <section class="admission_cources">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12">
               <h2>FOUNDATION PROFESSIONAL INNOVATION COLLEGE DIPLOMA <br>(9 Months OF 3-SEMESTER LEVEL) </h2>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid mt-4" alt="#">
           </div>
       </div>
       <div class="row justify-content-md-center">
           <div class="col-lg-8 mt-5">
               <div>
                 <h4><strong>The Basic Objectives</strong></h4>
                 <ul>
                   <li>It is intended to produce graduates who would have been milled and boiled in all facets of Port Logistics and Mining Management and able to work as support employees to resident supervisors in the Port Complexes and Mining Sites, etc.</li>
                   <li>This programme is different from other places such as Work-place Training Academy and educational institutions such as monotechnic that are presently producing these support employees either senior operatives or assistant supervisors for Port Complexes, and Mining Sites. These trainees or graduates possess a minimum experience and pump them full of theory which they cannot possibly understand in context because there is no context neither personal or in the classroom nor in the trainer’s head.</li>
                   <li>This programme would be available to the doorsteps of Port Complexes and Mining Firms because these graduates are trained with the inputs from these port complexes and mining sites. These graduates would reduce to its barest minimum the variable liabilities untrained and unprofessional support employees. The existing institutions in the Port Logistics and Mining Sites take employees or graduates from existing Monotechnic or Polytechnic who know nothing about Port and Terminal Complexes, Operational Standard based on 100 pages of verbalized and numerical abstractions that they pronounce it in the classroom, trainees have never seen any of the Port and Terminal Complexes never touched the equipment for import and export commodities or seen a stacking or bonded warehousing after the trainer’s has done this several weeks, months, or hundreds of times, what kind of support employees do they produce? Glib and quick-witted to be sure, just the mind to face up the fast track, but to what effect?.</li>
                   <li>The Academy curriculum of studies include: <ul>
                     <li>Field studies, or</li>
                     <li>Students with training contracts in which student teams would spend bulk of the time working with Port & Terminal Operators, Airlines Companies, Cargo Handling, Bus Terminals and other Port Logistics as Port Agency, Ship Chandling, Insurance Brokerage, Cargo Inspection, Ship Management, Ship Agency, Ship Chartering, Oil &  Gas and Mining fields, etc.</li>
                     <li>Internships made compulsory and engaging these companies to employ our graduates.</li>
                   </ul> </li>

                   <li>For this programme, our Academy will hold nine workshops in which students will watch or observe experience hands of operations with the Port Complex and Mining Fields, grappling with issues of the day, this experience will bring a fuller understanding of the appreciation for decisions making styles in operational performance and ultimately customer retention and profitability.</li>
                  
                 </ul>
               </div>
               
               <div class="mt-5">
                 <h4><strong>DEPARTMENT: COLLEGE OF FOUNDATION PROFESSIONAL INNOVATION</strong></h4>
                 <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
                 <h6><strong>1st Semester system</strong></h6>
                 <ul>
                   <li>Introduction to Communication, Information, Writing, & Presentation Skills in English</li>
                   <li>Introduction to Use of Arabic Language</li>
                   <li>Introduction to Further Mathematics</li>
                   <li>Introduction to Contemporary Sciences</li>
                   <li>Introduction to Geological Sciences</li>
                 </ul>
                 <h6><strong>2nd Semester system</strong></h6>
                 <ul>
                   <li>Introduction to Oil & Gas Industry Environment</li>
                   <li>Introduction to Mining Industry Technology & Environment</li>
                   <li>Introduction to Port & Terminal Environment & Port Logistics Environment</li>
                   <li>Introduction to Health, Safety & Environment</li>
                   <li>Introduction to Security, Disaster and Emergency Management</li>
                 </ul>
                 <h6><strong>3rd Semester system (4-Months)</strong></h6>
                 <ul>
                  <li>Introduction to Engineering Sciences & Drawing</li>
                  <li>Introduction to Marketing</li>
                  <li>Introduction to Insurance</li>
                  <li>Introduction to Financial & Cost Accounting</li>
                  <li>Introduction to Computer Sciences</li>
                 </ul>
               </div>
             
           </div>
           <div class="col-lg-4">
             <div class="admission_discription">
               <h4>COLLEGE OF PRELIMINARY PROFESSIONAL INNOVATION</h4>
               <div class="star-rating">
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <br>
 
               <div class="">
                 <img src="/images/slide-5.jpg" class="img-fluid about-img" alt="#">
             </div>
             
           </div>
               <ul class="admission_rating mt-0">
                   <li>Ratings<span>:</span></li>
                   <li class="admission_star">4.5 Star</li>
                   <li class="admission_star-second">Starts<span>:</span></li>
                   <li class="admission_star">7 August 2020</li>
                   <li>Duration<span>:</span></li>
                   <li class="admission_star">9 Months</li>
                   <li>Semester<span>:</span></li>
                   <li class="admission_star">3</li>
                   <li class="admission_star-second">Full Time Studies<span>:</span></li>
                   <li class="admission_star">8am - 2pm</li>
                   <li class="admission_star-second">Part Time Studies<span>:</span></li>
                   <li class="admission_star">4pm - 9pm</li>
                   <li class="admission_star-second">Weekend Studies<span>:</span></li>
                   <li class="admission_star">==></li>
                   <li class="admission_star-second">Saturday<span>:</span></li>
                   <li class="admission_star">2pm - 9pm</li>
                   <li class="admission_star-second">Sunday<span>:</span></li>
                   <li class="admission_star">2pm - 6pm</li>
                   <li>Fees<span>:</span></li>
                   <li class="admission_star">#75000.00</li>
               </ul>
                 <li>Distance Learning Studies.</li>
                 <li>Flexa-study on a day- release, time chosen by student between 12.00pm and 5.00pm .</li>

                 <div class="">
                  <img src="/images/logo/logo.jpg" class="img-fluid about-img mt-4" alt="#" style="border: 1px solid skyblue; border-radius: 175px;">
                 </div>

                 <div class="admission-pdf mt-5">
                  <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
                  <p>course details PDF
                      <br>
                      <a href="#">DOWNLOAD</a>
                  </p>
                  <a href="/apply" class="btn btn-warning btn-pdf_join">Join this course</a>
                 </div>

                 <div class="admission_share-icon">
                  <h4>Share Course</h4>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
              </div>
           </div>
       </div>
   </div>
 </section>
 
 
 <div id="instafeed"></div>