
 <%- include("../partials/otherHeader.ejs") %> 

 <section class="admission_cources">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12">
               <h2>ORDINARY NATIONAL DIPLOMA IN PORT LOGISTICS & MINING TECHNOLOGY MANAGEMENT <br> (4-SEMESTER PERIODS ) </h2>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid mt-4" alt="#">
           </div>
       </div>
       <div class="row justify-content-md-center">
           <div class="col-lg-12 mt-5">
            <h6><strong>DEPARTMENT: COLLEGE OF PORT & SHIPPING STUDIES</strong></h6>
            <ul>
              <ol><strong>Course Code</strong> <span class="m-5" ></span> <strong>First Diet / Course Title</strong> </ol>
              <ol>001		<span class="m-5" >-</span>		Introduction to Use of French I</ol>
              <ol>002		<span class="m-5" >-</span>		Introduction to Use of English Language I</ol>
              <ol>003		<span class="m-5" >-</span>		Introduction to Mathematical Methods I</ol>
              <ol>004		<span class="m-5" >-</span>		Introduction to Economics & Contemporary Studies</ol>
              <ol>005		<span class="m-5" >-</span>		Introduction to Finance, Book-Keeping & Accounting</ol>
              <ol>006		<span class="m-5" >-</span>		Introduction to Port & Terminal Industry & Environment</ol>
              <ol>007		<span class="m-5" >-</span>		Introduction to Cargo Handling & Consolidation</ol>
              <ol>008		<span class="m-5" >-</span>		Introduction to Oil & Gas Industry & Environment</ol>
              <ol>009		<span class="m-5" >-</span>		Introduction to Citizenship Education</ol>
              <ol>010		<span class="m-5" >-</span>		Introduction to Social Relations & Political Institutions</ol>
              <ol>011		<span class="m-5" >-</span>		Introduction to Literary, Logical, Critical Reasoning & Writing</ol>
              <ol>012		<span class="m-5" >-</span>		Introduction to Philosophy & Contemporary History of the World</ol>
            </ul>
                 

            <ul class="mt-5">
              <ol><strong>Course Code</strong> <span class="m-5" ></span> <strong>Second Diet / Course Title </strong> </ol>
              <ol>013		<span class="m-5" >-</span>		Introduction to Use of French II</ol>
              <ol>014		<span class="m-5" >-</span>		Introduction to Use of English Language II</ol>
              <ol>015		<span class="m-5" >-</span>		Introduction to Mathematical Methods II</ol>
              <ol>016		<span class="m-5" >-</span>		Introduction to Principles of Law</ol>
              <ol>017		<span class="m-5" >-</span>		Introduction to Communication in Organization</ol>
              <ol>018		<span class="m-5" >-</span>		Introduction to Public Administration</ol>
              <ol>019		<span class="m-5" >-</span>		Introduction to Water Transportation Logistics Support Management</ol>
              <ol>020		<span class="m-5" >-</span>		Introduction to Shipping & Maritime Law</ol>
              <ol>021		<span class="m-5" >-</span>		Introduction to Health, Safety & Environment</ol>
              <ol>022		<span class="m-5" >-</span>		Introduction to Commodities Exporting</ol>
              <ol>023		<span class="m-5" >-</span>		Introduction to Hospitality & Event Business Environment</ol>
              <ol>024		<span class="m-5" >-</span>		Introduction to Contemporary & Applied Sciences</ol>
              <ol>025		<span class="m-5" >-</span>		Introduction to Oil & Gas Accounting & Taxation</ol>
             
            </ul>

            <ul class="mt-5">
              <ol><strong>Course Code</strong> <span class="m-5" ></span> <strong>Third Diet / Course Title </strong> </ol>
              <ol>026		<span class="m-5" >-</span>		Introduction to Use of French III</ol>
              <ol>027		<span class="m-5" >-</span>		Introduction to Use of English Language III</ol>
              <ol>028		<span class="m-5" >-</span>		Introduction to Statistical Methods I</ol>
              <ol>029		<span class="m-5" >-</span>		Introduction to Maritime & Allied Studies</ol>
              <ol>030		<span class="m-5" >-</span>		Introduction to Entrepreneurship, Innovation & Technology</ol>
              <ol>031		<span class="m-5" >-</span>		Introduction to Research Methodology</ol>
              <ol>032		<span class="m-5" >-</span>   Introduction to Facility, Corporate Assets & Infrastructure Maint. & Mgt</ol>
              <ol>033		<span class="m-5" >-</span>		Introduction to Petroleum Law</ol>
              <ol>034		<span class="m-5" >-</span>		Introduction to Security, Disaster, Emergency, Search & Rescue Mgt</ol>
              <ol>035		<span class="m-5" >-</span>		Introduction to Multi-modal Transportation Network Management I</ol>
              <ol>036		<span class="m-5" >-</span>		Introduction to International Law of the Sea</ol>
              <ol>037		<span class="m-5" >-</span>		Introduction to Management of Policy Development/ Principles of Mgt</ol>
              <ol>038		<span class="m-5" >-</span>		Introduction to Finance of International Trade</ol>
              <ol>039		<span class="m-5" >-</span>		Introduction to Accounting for Management</ol>
              <ol>040		<span class="m-5" >-</span>		Introduction to Audit & Assurance Studies</ol>
              <ol>041		<span class="m-5" >-</span>		Introduction to Taxation</ol>
             
            </ul>
           </div>
       </div>
   </div>
 </section>
 
 
 <div id="instafeed"></div>