
 <%- include("../partials/otherHeader.ejs") %> 

 <section class="admission_cources">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12">
               <h2>PROFESSIONAL ORDINARY NATIONAL DIPLOMA <br>(18 Months OF 4-SEMESTER LEVEL) </h2>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid mt-4" alt="#">
           </div>
       </div>
       <div class="row justify-content-md-center">
           <div class="col-lg-8 mt-5">
               <div>
                 <h4><strong>AIMS OF THIS PROGRAMME</strong></h4>
                 <ul>
                   <li>To prepare students for the award of Ordinary National Diploma</li>
                   <li>To prepare students to be amenable for support employees as supervisor in Port complexes or mining field environment.</li>
                   <li>To prepare students to be able to go on to study for the Joint Higher National Diploma or its equivalent such as B.Tech.</li>
                   <li>The programme would entail students to under-go two (2) months internship to companies of their choice to be assisted by the Academy. </li>
                   <li>The programme would entail students to produce a research project to be approved by any of the nominated supervisors.</li>
                 </ul>
               </div>
               
               <div class="mt-5">
                 <h4><strong>DEPARTMENT: COLLEGE OF PROFESSIONAL INNOVATION ORDINARY NATIONAL DIPLOMA</strong></h4>
                 <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
                 <h6><strong>1st Semester system</strong></h6>
                 <ul>
                   <li>Advanced Communication, Information, Writing & Presentation Skills in French</li>
                   <li>Advanced Quantitative Decision Making</li>
                   <li>Advanced Contemporary Sciences</li>
                   <li>Advanced Engineering Sciences & Drawings</li>
                   <li>Advanced Hospitality & Event Business Management Environment</li>
                   <li>Advanced Entrepreneurship & Technology Skills Acquisitions</li>
                   <li>Advanced Liberal Arts, Social Sciences & Citizenship & Sports Education</li>
                   <li>Advanced Management in Living & Home Management</li>
                 </ul>
                 <h6><strong>2nd Semester system</strong></h6>
                 <ul>
                   <li>Advanced Mining Production Risks and Insurance Management </li>
                   <li>Leadership Skills Management</li>
                   <li>Advanced Legal Framework for the Conduct & Survival of Business</li>
                   <li>Advanced Port & Terminal Industry & Port Logistics Environment</li>
                   <li>Advanced Geological Sciences</li>
                   <li>Advanced Mining Engineering & Purchasing, Logistics & Supply Chain Management</li>
                   <li>Advanced Data Processing</li>
                   <li>Advanced Food & Nutrition</li>
                 </ul>
                 <h6><strong>3rd Semester system</strong></h6>
                 <ul>
                  <li>Advanced Animal Husbandry</li>
                  <li>Advanced Engineering & Drawings</li>
                  <li>Advanced Mining Technology & Management</li>
                  <li>Advanced Business Ethics</li>
                  <li>Commodities Exporting Operations</li>
                  <li>Petroleum Economics & Technology</li>
                  <li>Multi-modal Transportation Network Management & Transportation Economics</li>
                  <li>Petroleum Management, Marketing & Warehousing & Physical Distribution</li>
                 </ul>
                 <h6><strong>4th Semester system</strong></h6>
                 <ul>
                  <li>Finance of International Trade</li>
                  <li>Mining Economics, Technology & Procurement Management</li>
                  <li>Mining Management, Marketing & Inventory Management</li>
                  <li>Oil & Gas Industry Risk & Insurance</li>
                  <li>Advanced Human Resources Management & Labor & Industrial Relations</li>
                  <li>Advanced Business Negotiations</li>
                  <li>Mining Industry Risk & Insurance</li>
                  <li>Advanced Hospitality & Event Management Risk & Insurance</li>
                 </ul>
               </div>
             
               <div class="admission-pdf mt-5">
                <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
                <p>course details PDF
                    <br>
                    <a href="#">DOWNLOAD</a>
                </p>
                <a href="/apply" class="btn btn-warning btn-pdf_join">Join this course</a>
               </div>
           </div>
           <div class="col-lg-4">
             <div class="admission_discription">
               <h4>PROFESSIONAL ORDINARY NATIONAL DIPLOMA</h4>
               <div class="star-rating">
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <br>
 
               <div class="">
                 <img src="/images/slide-5.jpg" class="img-fluid about-img" alt="#">
             </div>
             
           </div>
               <ul class="admission_rating mt-0">
                   <li>Ratings<span>:</span></li>
                   <li class="admission_star">4.5 Star</li>
                   <li class="admission_star-second">Starts<span>:</span></li>
                   <li class="admission_star">7 August 2020</li>
                   <li>Duration<span>:</span></li>
                   <li class="admission_star">18 Months</li>
                   <li>Semester<span>:</span></li>
                   <li class="admission_star">4</li>
                   <li class="admission_star-second">Full Time Studies<span>:</span></li>
                   <li class="admission_star">8am - 2pm</li>
                   <li class="admission_star-second">Part Time Studies<span>:</span></li>
                   <li class="admission_star">4pm - 9pm</li>
                   <li class="admission_star-second">Weekend Studies<span>:</span></li>
                   <li class="admission_star">==></li>
                   <li class="admission_star-second">Saturday<span>:</span></li>
                   <li class="admission_star">2pm - 9pm</li>
                   <li class="admission_star-second">Sunday<span>:</span></li>
                   <li class="admission_star">2pm - 6pm</li>
                   <li>Fees<span>:</span></li>
                   <li class="admission_star">#75000.00</li>
               </ul>
                 <li>Distance Learning Studies.</li>
                 <li>Flexa-study on a day- release, time chosen by student between 12.00pm and 5.00pm .</li>

                 <div class="">
                  <img src="/images/logo/logo.jpg" class="img-fluid about-img mt-4" alt="#" style="border: 1px solid skyblue; border-radius: 175px;">
                 </div>

                 <div class="admission_share-icon">
                  <h4>Share Course</h4>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                 </div>
           </div>
       </div>
   </div>
 </section>
 
 
 <div id="instafeed"></div>