
 <%- include("../partials/otherHeader.ejs") %> 

 <section class="admission_cources">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12">
               <h2>HIGHER NATIONAL DIPLOMA IN HOSPITALITY & EVENT BUSINESS MANAGEMENT <br>(9 Months OF 2-SEMESTER LEVEL) </h2>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid mt-4" alt="#">
           </div>
       </div>
       <div class="row justify-content-md-center">
           <div class="col-lg-8 mt-5">
               
               <div class="mt-5">
                 <h4><strong>DEPARTMENT: COLLEGE OF POST GRADUATE STUDIES</strong></h4>
                 <p><em>The academic timetable is sub-divided into 3-semester levels viz:</em></p>
                 <h6><strong>1st Semester Courses Strategic</strong></h6>
                 <ul>
                   <li>Communication, Information, Writing & Presentation Skills in English</li>
                   <li>Use of Arabic Languages</li>
                   <li>Quantitative Decision Making in Port Logistics & Mining Management</li>
                   <li>Engineering Science & Drawings</li>
                   <li>Hospitality, Events Business Management</li>
                   <li>Entrepreneurship & Technology Skills Acquisitions</li>
                   <li>Port & Mining Politics</li>
                   <li>International Law & International Law of the Sea</li>
                   <li>Mining Resources Warehousing & Inventory Management</li>
                   <li>Geological & Mining Sciences</li>
                   <li>Human Resources Management</li>
                   <li>Mining Risk & Insurance and Taxation</li>
                   <li>Leadership Skills & Business Ethics</li>
                 </ul>
                 <h6><strong>2nd Semester Courses Strategic</strong></h6>
                 <ul>
                   <li>Oil & Gas Industry & Environment</li>
                   <li>Company Law and Corporate Governance for the Conduct & Survival of business</li>
                   <li>Port & Terminal Industry Environment & Port Logistics Environment</li>
                   <li>Computer Science</li>
                   <li>Food & Nutrition & Animal Husbandry</li>
                   <li>Commodities Exporting Operations</li>
                   <li>Finance of International Trade</li>
                   <li>Business Negotiations</li>
                   <li>Finance & Accounting for Management</li>
                   <li>Marketing Management & Customer Care Management</li>
                   <li>Labour & Industrial Relations</li>
                   <li>Oil & Gas Industry Risks & Insurance and Taxation</li>
                   <li>Hospitality & Event Business Risk, Insurance and Taxation</li>
                 </ul>

                 <div class="admission-pdf mt-5">
                  <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
                  <p>course details PDF
                      <br>
                      <a href="#">DOWNLOAD</a>
                  </p>
                  <a href="/apply" class="btn btn-warning btn-pdf_join">Join this course</a>
                 </div>
               </div>
             
           </div>
           <div class="col-lg-4">
             <div class="admission_discription">
               <h4>COLLEGE OF POST GRADUATE STUDIES</h4>
               <div class="star-rating">
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <br>
 
               <div class="">
                 <img src="/images/slide-5.jpg" class="img-fluid about-img" alt="#">
               </div>
             
           </div>
               <ul class="admission_rating mt-0">
                   <li>Ratings<span>:</span></li>
                   <li class="admission_star">4.5 Star</li>
                   <li class="admission_star-second">Starts<span>:</span></li>
                   <li class="admission_star">7 August 2020</li>
                   <li>Duration<span>:</span></li>
                   <li class="admission_star">8 Months</li>
                   <li>Semester<span>:</span></li>
                   <li class="admission_star">2</li>
                   <li class="admission_star-second">Full Time Studies<span>:</span></li>
                   <li class="admission_star">8am - 2pm</li>
                   <li class="admission_star-second">Part Time Studies<span>:</span></li>
                   <li class="admission_star">4pm - 9pm</li>
                   <li class="admission_star-second">Weekend Studies<span>:</span></li>
                   <li class="admission_star">==></li>
                   <li class="admission_star-second">Saturday<span>:</span></li>
                   <li class="admission_star">2pm - 9pm</li>
                   <li class="admission_star-second">Sunday<span>:</span></li>
                   <li class="admission_star">2pm - 6pm</li>
                   <li>Fees<span>:</span></li>
                   <li class="admission_star">#75000.00</li>
               </ul>
                 <li>Distance Learning Studies.</li>
                 <li>Flexa-study on a day- release, time chosen by student between 12.00pm and 5.00pm .</li>

                 <div class="admission_share-icon">
                  <h4>Share Course</h4>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                 </div>

           </div>
       </div>
   </div>
 </section>
 
 
 <div id="instafeed"></div>