
 <%- include("../partials/otherHeader.ejs") %> 

 <section class="admission_courses">
   <div class="container">
       <div class="row text-center">
           <div class="col-md-12 m-5">
               <h2>EXECUTIVE MASTER IN PORT LOGISTICS & MINING MANAGEMENT <br>(18 Months OF 2-SEMESTER LEVEL) </h2>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid mt-4" alt="#">
           </div>
       </div>
       <div class="row justify-content-md-center">
           <div class="col-lg-8 mt-5">
               <div>
                 <h4><strong>AIMS OF THIS PROGRAMME</strong></h4>
                 <ul>
                  <li>To equip junior and senior managers who have passed through our programme tools and skills that increases their abilities in their work functions based on international best practices.</li>
                  <li>All applicants must pass through our Executive Post-graduate programme to be qualified for admission irrespective of his qualification</li>
                  <li>The Programme would be run in 2-semester level of9-months per semester.</li>
                  <li>The applicant must be ready to attend seminars, workshops, conferences that would expose them to hands-on experience from professional in the industry</li>
                  <li>Applicants would render Term/Project paper which would be approved by an assigned supervisor.</li>
                 </ul>
               </div>

               <div class="mt-5">
                <h4><strong>EXECUTIVE MASTER’S PROGRAMMES</strong></h4> 
                 <ul>
                     <ul>
                      <li><strong>Executive Master in Port Logistics Management</strong></li>
                      <li><strong>Executive Master’s in Mining Technology & Management</strong></li>
                      <li><strong>Executive Master in Oil & Gas Technology & Management</strong></li>
                      <li><strong>Executive Master’s in Hospitality Business & Management</strong></li>
                    </ul>
                 </ul>
               </div>
               
               <div class="mt-5">
                 <h4><strong>Executive Master in Port Logistics Management </strong></h4>
                 <h6><strong>1st Semester system</strong></h6>
                 <ul>
                   <li>Port & Terminal Industry and Environment</li>
                   <li>Transportation of Oil & Gas from Refinery</li>
                   <li>Transportation of Oil & Gas to Oil & Gas Free Processing Zone</li>
                   <li>Transportation of Mineral Resources from Mining Sites to Warehouse for Shipment</li>
                   <li>Transportation of Mineral Resources from Warehouse to Seaport for Shipment</li>
                   <li>Petroleum Industry Risk and Insurance and Taxation</li>
                   <li>Mining Industry Risk and Insurance & Taxation</li>
                   <li>Commodities Exporting Operations</li>
                   <li>Finance of International Trade</li>
                   <li>Entrepreneurship & Technical Skills Acquisitions</li>
                 </ul>
                 <h6><strong>2nd Semester system</strong></h6>
                 <ul>
                   <li>Oil & Gas Procurement, Warehousing, Inventory & Physical Distribution Network</li>
                   <li>Physical Distribution Network Transportation Management</li>
                   <li>Mining Resources Purchasing, Outsourcing, Procurement, Warehousing & Inventory Management</li>
                   <li>Petroleum Economics & Marketing </li>
                   <li>Mining Economics & Marketing </li>
                   <li>Petroleum & Mining Law</li>
                   <li>VII.	Petroleum & Mining, Accounting & Taxation</li>
                   <li>Petroleum & Mining Financial Management</li>
                   <li>Petroleum & Mining, Labour & Industrial Relations</li>
                   <li>Hospitality Business & Management</li>
                 </ul>
               </div>
           </div>
           <div class="col-lg-4">
             <div class="admission_discription">
              <h4>DEPARTMENT OF EXECUTIVE MASTER STUDIES</h4>
               <div class="star-rating">
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <br>
 
               <div class="">
                 <img src="/images/slide-5.jpg" class="img-fluid about-img" alt="#">
               </div>
             
           </div>
               <ul class="admission_rating mt-0">
                   <li>Ratings<span>:</span></li>
                   <li class="admission_star">4.5 Star</li>
                   <li class="admission_star-second">Starts<span>:</span></li>
                   <li class="admission_star">7 August 2020</li>
                   <li>Duration<span>:</span></li>
                   <li class="admission_star">18 Months</li>
                   <li>Semester<span>:</span></li>
                   <li class="admission_star">3</li>
                   <li class="admission_star-second">Full Time Studies<span>:</span></li>
                   <li class="admission_star">8am - 2pm</li>
                   <li class="admission_star-second">Part Time Studies<span>:</span></li>
                   <li class="admission_star">4pm - 9pm</li>
                   <li class="admission_star-second">Weekend Studies<span>:</span></li>
                   <li class="admission_star">==></li>
                   <li class="admission_star-second">Saturday<span>:</span></li>
                   <li class="admission_star">2pm - 9pm</li>
                   <li class="admission_star-second">Sunday<span>:</span></li>
                   <li class="admission_star">2pm - 6pm</li>
                   <li>Fees<span>:</span></li>
                   <li class="admission_star">#75000.00</li>
               </ul>
                 <li>Distance Learning Studies.</li>
                 <li>Flexa-study on a day- release, time chosen by student between 12.00pm and 5.00pm .</li>

                 <div class="admission_share-icon">
                  <h4>Share Course</h4>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                 </div>
           </div>
       </div>

       <div class="row justify-content-md-center">
          <div class="col-lg-6 mt-5">
            <div class="mt-5">
              <h4><strong>Executive Master’s in Mining Technology & Management </strong></h4>
              <h6><strong>1st Semester system</strong></h6>
              <ul>
                <li>Quantitative Decision Making in Management </li>
                <li>Mining Risk & Insurance and Taxation Management</li>
                <li>Mining Engineering &7 Management</li>
                <li>Computer Science Application </li>
                <li>Mining Technology & Engineering </li>
                <li>Commodities Exporting Operations</li>
                <li>Finance of International Trade</li>
                <li>Management Accounting for Miners</li>
                <li>Accounting & Finance for Management</li>
                <li>Mining Economics & Technology </li>
                <li>Mining Security, Environment Disaster Management</li>
              </ul>
              <h6><strong>2nd Semester system</strong></h6>
              <ul>
                <li>Mining Management & Marketing </li>
                <li>Human Resources Management</li>
                <li>Labour & Industrial Relations </li>
                <li>Customer Care Management</li>
                <li>Mining Economics & Finance</li>
                <li>Mining Accounting & Taxation</li>
                <li>Mining Risk Management</li>
                <li>Mining Financial Management</li>
                <li>Hospitality Business & Management</li>
                <li>Health, Safety, Environment & Occupational Health & Safety Hazards</li>
                <li>Chinese Languages Studies</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 mt-5">
            <div class="mt-5">
              <h4><strong>Executive Master in Oil & Gas Technology & Management </strong></h4>
              <h6><strong>1st Semester system</strong></h6>
              <ul>
                <li>Arabic Language Studies </li>
                <li>Quantitative Decision Making</li>
                <li>Hospitality Business Environment</li>
                <li>Computer Science Application</li>
                <li>Oil & Marine Politics</li>
                <li>International Petroleum Law</li>
                <li>International Law & International Law of the Sea</li>
                <li>Company Law for the conduct & Survival of business</li>
                <li>Port & Terminal Industry & Port Logistics Environment</li>
                <li>Physical Distribution Network Management</li>
                <li>Petroleum Insurance Management</li>
                <li>Human Resources Management</li>
              </ul>
              <h6><strong>2nd Semester system</strong></h6>
              <ul>
                 <li>Commodities Exporting & Operations</li>
                 <li>Rail Transportation Network Management</li>
                 <li>Trucking Transportation Network Management</li>
                 <li>Water Transportation Network Management</li>
                 <li>Air Transportation Network Management</li>
                 <li>Finance of International Trade</li>
                 <li>Petroleum Management & Marketing</li>
                 <li>Petroleum Economics & Technology </li>
                 <li>Oil & Gas Accounting & Taxation</li>
                 <li>Oil & Gas Risk & Financial Management</li>
                 <li>Labour & Industrial Relations </li>
                 <li>Citizenship & Sports Science Education</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8 mt-5">
            <div class="mt-5">
              <h4><strong>Executive Master’s in Hospitality Business & Management </strong></h4>
              <h6><strong>1st Semester system</strong></h6>
              <ul>
                <li>Communication for Hotel & Events Business</li>
                <li>Understanding Hospitality & Events Law</li>
                <li>Managing Front Office Operations</li>
                <li>Resort Development and Management</li>
                <li>Planning and Control for Food and Beverages Operation</li>
                <li>Supervision in Hospitality & Events Industry</li>
                <li>Management of Service in Food and Beverages Operations</li>
                <li>Hotel & Motel Marketing</li>
                <li>Lodging & Food Service Industry</li>
                <li>Purchasing for Hospitality & Event Operations</li>
                <li>Arabic Language Studies</li>
              </ul>
              <h6><strong>2nd Semester system</strong></h6>
              <ul>
                 <li>Art of Science of Hospitality & Events</li>
                 <li>Managing Computers in the Hospitality & Events Industry </li>
                 <li>Understanding Hospitality & Events Accounting</li>
                 <li>Managing Marketing, Customer Care & Quality Service</li>
                 <li>Hospitality & Events Sales and Advertising </li>
                 <li>Front Office Accounting </li>
                 <li>Managing Housekeeping Operations</li>
                 <li>Managing Bar & Beverage Operations </li>
                 <li>Communication, Information, Writing & Presentation Skills for Hospitality & Event Business</li>
                 <li>Energy & Water Resources Management.</li>
              </ul>
              <h6><strong>3rd Semester system</strong></h6>
              <ul>
                 <li>Security & Loss Prevention</li>
                 <li>Management Accounting for Hospitality & Events</li>
                 <li>Marketing planning in the Hospitality & Events Industry</li>
                 <li>Managing Hospitality & Events of Engineering Systems</li>
                 <li>Understanding Hospitality & Events Accounting II</li>
                 <li>Managing Conventions & Group Business</li>
                 <li>Managing Human Resources in the Hospitality & Events Industry</li>
                 <li>Managing Powerhouse Conference Eliminating Audience Boredom</li>
                 <li>Chinese Language Studies</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 mt-5">
            <div class="">
              <img src="/images/logo/logo.jpg" class="img-fluid about-img mt-4" alt="#" style="border: 1px solid skyblue; border-radius: 175px;">
             </div>
             <div class="admission-pdf mt-5">
              <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
              <p>course details PDF
                  <br>
                  <a href="#">DOWNLOAD</a>
              </p>
              <a href="/apply" class="btn btn-warning btn-pdf_join">Join this course</a>
             </div>
          </div>
       </div>

   </div>
 </section>
 
 <div id="instafeed"></div>