
 <%- include("../partials/otherHeader.ejs") %> 

<section class="admission_cources">
  <div class="container">
      <div class="row text-center">
          <div class="col-md-12">
              <h2>SCHOOL OF FINISHING STUDIES <br>(1 YEAR OF 3-SEMESTER LEVEL) </h2>
                  <br> <br>
                <h3>PURPOSE</h3>
           
              <p>To educate applicants further; those who have graduated from the school of Remedial studies and students who need to strengthen their WAEC/NECO, SSCE
                To enable them to re-write WAEC/NECO and gain admission to the next level, etc.
                To promote education among persons who are not yet in the market spaces for admission to a university of technology or college of technology, polytechnics and other tertiary institutions of further study, who are also engaged as support intermediate technical operatives or support manipulative/ administrative employees in Port Logistics and the mining environment- either in solid minerals or Oil & Gas especially in Liquified Natural Gas.
                These applicants would be made to take the WAEC/NECO Senior Secondary School Certificate Examination (SSCE) or other levels from abroad.</p>

          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <img src="/images/admission-detail/admission-detail_img.jpg" class="img-fluid" alt="#">
          </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="col-lg-8 mt-5">
              <div>
                <h4><strong>CURRICULUM OF STUDIES</strong></h4>
                <p>This curriculum of studies is sub-divided into in addition to workshops and <br> laboratory (for Engineering, Technology, and Sciences, include other studies)</p>
                <ul>
                  <li>	Science Finishing School Programme.</li>
                  <li>	Technology Finishing School Programme</li>
                  <li>	Engineering Finishing School Programme</li>
                  <li>	Business & Management Finishing School Programme</li>
                  <li>	Vocational & Entrepreneurship Finishing School Programme</li>
                  <li>	Liberal Arts Finishing School Programme</li>
                  <li>	Social Science Finishing School Programme</li>
                </ul>
              </div>
              <div class="mt-5">
                <h4><strong>DEPARTMENTS IN SCHOOL FINISHING OF STUDIES</strong></h4>
                <p><em>School of finishing Studies is made up of the under-stated departments:</em></p>
                <ul>
                  <li>	Department Of Sciences</li>
                  <li>	Department Of Technology</li>
                  <li>	Department Of Business & Management</li>
                  <li>	Department Of Vocational & Entrepreneurship Studies</li>
                  <li>	Department Of Liberal Arts & Social Science</li>
                  <li>	Department Of Engineering Studies</li>
                </ul>
              </div>
              
              <div class="mt-5">
                <h4><strong>DEPARTMENT OF SCIENCE (12 MONTHS)</strong></h4>
                <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
                <h6><strong>1st Semester system (4-Months)</strong></h6>
                <ul>
                  <li>English language</li>
                  <li>Biology</li>
                  <li>General Mathematics</li>
                  <li>Geography</li>
                  <li>Civic, Physical & Health Education</li>
                </ul>
                <h6><strong>2nd Semester system (4-Months)</strong></h6>
                <ul>
                  <li>Technical Drawing</li>
                  <li>Chemistry</li>
                  <li>Further Mathematics</li>
                  <li>Computer Science</li>
                </ul>
                <h6><strong>3rd Semester system (4-Months)</strong></h6>
                <ul>
                  <li>Engineering Science</li>
                  <li>Physics</li>
                  <li>Economics</li>
                  <li>Engineering Science</li>
                  <li>Agricultural Science</li>
                </ul>
              </div>
            
          </div>
          <div class="col-lg-4">
            <div class="admission_discription">
              <h4>School Of Finishing Studies</h4>
              <div class="star-rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
              </div>
              <br>

              <div class="">
                <img src="/images/slide-5.jpg" class="img-fluid about-img" alt="#">
            </div>
            
          </div>
              <ul class="admission_rating mt-0">
                  <li>Ratings<span>:</span></li>
                  <li class="admission_star">4.5 Star</li>
                  <li class="admission_star-second">Starts<span>:</span></li>
                  <li class="admission_star">7 August 2020</li>
                  <li>Duration<span>:</span></li>
                  <li class="admission_star">12 months</li>
                  <li>Semester<span>:</span></li>
                  <li class="admission_star">3</li>
                  <li class="admission_star-second">Full Time Studies<span>:</span></li>
                  <li class="admission_star">8am - 2pm</li>
                  <li class="admission_star-second">Part Time Studies<span>:</span></li>
                  <li class="admission_star">5pm - 9pm</li>
                  <li class="admission_star-second">Weekend Studies<span>:</span></li>
                  <li class="admission_star">==></li>
                  <li class="admission_star-second">Saturday<span>:</span></li>
                  <li class="admission_star">2pm - 8pm</li>
                  <li class="admission_star-second">Sunday<span>:</span></li>
                  <li class="admission_star">2pm - 4pm</li>
                  <li>Fees<span>:</span></li>
                  <li class="admission_star">#75000.00</li>
              </ul>
                <li>Distance Learning Studies.</li>
                <li>Day- release studies (At the determined schedule of the potential applicant).</li>
                <div class="mt-4">
                  <p><strong>EXAMINATION</strong></p>
                <h6 class="mt-0">Students are advised to take a minimum of 8-subject in a sitting in WAEC, NECO</h6>
                </div>
          </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-6 mt-5">
          <div class="mt-5">
            <h4><strong>DEPARTMENT OF TECHNOLOGY (12-MONTHS)</strong></h4>
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h6><strong>1st Semester system (4-Months)</strong></h6>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>General Mathematics</li>
              <li>Technical Drawing</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h6><strong>2nd Semester system (4-Months)</strong></h6>
            <ul>
              <li>Applied Electricity</li>
              <li>Auto Mechanics</li>
              <li>Building Construction</li>
              <li>Metal Works</li>
              <li>Chemistry</li>
            </ul>
            <h6><strong>3rd Semester system (4-Months)</strong></h6>
            <ul>
              <li>Engineering Science</li>
              <li>Physics</li>
              <li>Computer Science</li>
              <li>Wood Work</li>
            </ul>
          </div>

          <hr>

         
          <div class="mt-5">
            <h4><strong>DEPARTMENT OF BUSINESS & MANAGEMENT STUDIES (12-MONTHS)</strong></h4>
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h4><strong>1st Semester system (4-Months)</strong></h4>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>Mathematics</li>
              <li>Literature in English</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h4><strong>2nd Semester system (4-Months)</strong></h4>
            <ul>
              <li>Geography</li>
              <li>Agricultural Science</li>
              <li>Economics</li>
              <li>Marketing</li>
              <li>Insurance</li>
            </ul>
            <h4><strong>3rd Semester system (4-Months)</strong></h4>
            <ul>
              <li>Computer Science</li>
              <li>French</li>
              <li>Financial Accounting</li>
              <li>Principles of Cost Accounting</li>
              <li>Data Processing</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 mt-5">
          
          <div class="mt-5">
            <h4><strong>DEPARTMENT OF VOCATIONAL & ENTREPRENEURSHIP STUDIES</strong></h4>
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h6><strong>1st Semester system (4-Months)</strong></h6>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>Mathematics</li>
              <li>Literature in English</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h6><strong>2nd Semester system (4-Months)</strong></h6>
            <ul>
              <li>Computer Science</li>
              <li>French</li>
              <li>Business Management</li>
              <li>Food & Nutrition</li>
              <li>Animal Husbandry</li>
            </ul>
            <h6><strong>3rd Semester system (4-Months)</strong></h6>
            <ul>
              <li>Catering Craft Practice</li>
              <li>Management in Living</li>
              <li>Financial Accounting</li>
              <li>Principles of Cost Accounting</li>
              <li>Marketing</li>
            </ul>
          </div>

          <hr>

         
          <div class="mt-5">
            <h4><strong>DEPARTMENT OF LIBERAL ARTS & SOCIAL SCIENCES</strong></h4>
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h6><strong>1st Semester system (4-Months)</strong></h6>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>Mathematics</li>
              <li>Literature in English</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h6><strong>2nd Semester system (4-Months)</strong></h6>
            <ul>
              <li>Computer Science</li>
              <li>History</li>
              <li>Geography</li>
              <li>Economics</li>
              <li>Government</li>
            </ul>
            <h6><strong>3rd Semester system (4-Months)</strong></h6>
            <ul>
              <li>Virtual Arts</li>
              <li>French</li>
              <li>Insurance</li>
              <li>Financial Accounting</li>
              <li>Marketing</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-8">
          <div class="mt-5">
            <h4><strong>DEPARTMENT OF ENGINEERING STUDIES</strong></h4>
            <p><em>The courses to be taken are sub-divided into a 3-semester system viz:</em></p>
            <h6><strong>1st Semester system (4-Months)</strong></h6>
            <ul>
              <li>English language</li>
              <li>Biology</li>
              <li>General Mathematics</li>
              <li>Technical Drawing</li>
              <li>Civic, Physical & Health Education</li>
            </ul>
            <h6><strong>2nd Semester system (4-Months)</strong></h6>
            <ul>
              <li>Computer Science</li>
              <li>Engineering Science</li>
              <li>Physics</li>
              <li>Chemistry</li>
              <li>Further Mathematics</li>
            </ul>
            <h6><strong>3rd Semester system (4-Months)</strong></h6>
            <ul>
              <li>Basic Electronics</li>
              <li>Applied Electricity</li>
              <li>Auto Mechanics</li>
              <li>Building Construction</li>
              <li>Metal Works</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="">
            <img src="/images/logo/logo.jpg" class="img-fluid about-img" alt="#" style="border: 1px solid skyblue; border-radius: 175px;">
          </div>
          <div class="admission_share-icon">
            <h4>Share Course</h4>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>

          <div class="admission-pdf mt-5">
            <i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i>
            <p>course details PDF
                <br>
                <a href="#">DOWNLOAD</a>
            </p>
            <a href="#" class="btn btn-warning btn-pdf_join">Join this course</a>
          </div>
        </div>
      </div>
    
  </div>
</section>


<div id="instafeed"></div>