
  <%- include("./partials/otherHeader.ejs") %>  

  <section class="welcome_about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>What we are</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                    <br>
                    <br> It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages.</p>
                <a href="#" class="btn btn-default btn-about">VIEW OUR COURSE</a>
            </div>
            <div class="col-md-5">
                <img src="images/welcome-img.jpg" class="img-fluid" alt="#">
            </div>
        </div>
    </div>
</section>

<section class="testimonial">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2>Our Students Says</h2>
          </div>
          <div class="col-md-12">
              <div class="single-item">
                  <div class="quote">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <p class="quote_text">Lorem Ipsum has been the industry's standard dummy text ever since the
                          1500s, when an unknown printer took a galley of type and scrambled it to make a type
                          specimen book. Printing and typesetting industry. It has survived not only five
                          centuries.</p>
                      <div class="testi-img_block">
                          <img src="images/testi-img-2.jpg" class="img-fluid" alt="#">
                          <p><span>Student Name</span> Top rank holder</p>
                      </div>
                  </div>
                  <div class="quote">
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                      <p class="quote_text">Lorem Ipsum has been the industry's standard dummy text ever since the
                          1500s, when an unknown printer took a galley of type and scrambled it to make a type
                          specimen book. Printing and typesetting industry. </p>
                      <div class="testi-img_block">
                          <img src="images/testi-img.jpg" class="img-fluid" alt="#">
                          <p><span>Student Name</span> Top rank holder</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<div class="detailed_chart">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 chart_bottom">
              <div class="chart-img">
                  <img src="images/chart-icon_1.png" class="img-fluid" alt="chart_icon">
              </div>
              <div class="chart-text">
                  <p><span class="counter">39</span> Teachers
                  </p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 chart_bottom chart_top">
              <div class="chart-img">
                  <img src="images/chart-icon_2.png" class="img-fluid" alt="chart_icon">
              </div>
              <div class="chart-text">
                  <p><span class="counter">2600</span> Students
                  </p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 chart_top">
              <div class="chart-img">
                  <img src="images/chart-icon_3.png" class="img-fluid" alt="chart_icon">
              </div>
              <div class="chart-text">
                  <p><span class="counter">56</span> Courses
                  </p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="chart-img">
                  <img src="images/chart-icon_4.png" class="img-fluid" alt="chart_icon">
              </div>
              <div class="chart-text">
                  <p><span class="counter">13</span> Years Exp.</p>
              </div>
          </div>
      </div>
  </div>
</div>


<section class="our-teachers">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2>Our Teachers</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="our-teachers-block">
                  <img src="images/our-teachers_01.jpg" class="img-fluid teachers-img" alt="#">
                  <div class="teachers-description">
                      <p><strong>Melissa Baker</strong>
                          <br> MBA, PhD
                      </p>
                      <hr />
                      <p>Syllabus : <span>Economics, Marketing &amp; Finance</span></p>
                      <div class="social-icons">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="our-teachers-block">
                  <img src="images/our-teachers_02.jpg" class="img-fluid teachers-img" alt="#">
                  <div class="teachers-description">
                      <p><strong>Raymond Salazar</strong>
                          <br> MCA, PhD
                      </p>
                      <hr />
                      <p> Syllabus : <span>Computer Science, Astronomy &amp; Robotics</span></p>
                      <div class="social-icons">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="our-teachers-block">
                  <img src="images/our-teachers_03.jpg" class="img-fluid teachers-img" alt="#">
                  <div class="teachers-description">
                      <p><strong>Alexander Bennett</strong>
                          <br> PhD, Medical Sciences
                      </p>
                      <hr />
                      <p> Syllabus : <span>Physics, Chemistry &amp; Biology</span></p>
                      <div class="social-icons">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="our-teachers-block">
                  <img src="images/our-teachers_04.jpg" class="img-fluid teachers-img" alt="#">
                  <div class="teachers-description">
                      <p><strong>Charles Murphy</strong>
                          <br> MFA, PhD</p>
                      <hr />
                      <p> Syllabus : <span> English, Language &amp; Arts</span></p>
                      <div class="social-icons">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-7 mt-5 mb-5">
          <div class="landing-form-wrap">
              <h4 class="text-center mb-3">Join the Course</h4>
              <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeyR_nod5pe7Q9XdMLc6QzBTolFwMeOpRJufqogSQp_d1H_AQ/formResponse?embedded=true" method="post" id="mG61Hd" data-response="%.@.[]]" target="_self" jsmodel="TOfxwf Q91hve" target="hidden_iframe" onsubmit="submitted=true;">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="form-group">
                              <input type="text" name="entry.1904658320" value="" class="form-control"
                                  placeholder="First Name" required>
                          </div>
                          
                          <div class="form-group">
                              <input type="text" name="entry.244140542" value="" class="form-control"
                                  placeholder="Last Name" required>
                          </div>
                          <div class="form-group">
                              <input type="email" name="entry.2119780566" value="" class="form-control" placeholder="Email"
                                  required>
                          </div>
                          <div class="form-group">
                              <select class="form-control custom-select" name="entry.335113342" value="" required>
                                  <option selected="" value="">Course</option>
                                  <option value="select">School Of Preliminary Studies</option>
                                  <option value="select">School Of Finishing Studies</option>
                                  <option value="select">College Of Preliminary Professional Innovation</option>
                                  <option value="select">Foundational Professional Innovation College Diploma Studies</option>
                                  <option value="select">College of Professional Innovation OND</option>
                                  <option value="select">Professional Joint Higher National Diploma</option>
                                  <option value="select">OND in Port Logistics Management</option>
                                  <option value="select">OND in Mining Technology Management</option>
                                  <option value="select">HND in Port Logistics Management</option>
                                  <option value="select">HND in Mining Technology Management</option>
                                  <option value="select">HND in Hospitality & Business Management</option>
                                  <option value="select">Executive Post Graduate Diploma</option>
                                  <option value="select">Executive Master in Port Logistics & Mining Technology Management</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <input type="text" name="entry.821302471" value="" class="form-control" placeholder="Phone"
                                  required>
                          </div>
                          <div class="form-group mb-0">
                              <button type="submit" class="btn btn-warning" id="js-admission-btn">APPLY
                                  NOW</button>
                              <div id="js-admission-result"
                                  data-success-msg="Success, Your application has been sent"
                                  data-error-msg="Oops! Something went wrong"></div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <div class="col-md-5 mt-5 mb-5">
        <img src="images/welcome-img.jpg" class="img-fluid" alt="#">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia distinctio in earum voluptatem! Illum minima harum perspiciatis deserunt corporis dolore id facere temporibus, ab, enim laudantium distinctio quos aliquam labore dicta sed pariatur doloribus consequatur, cupiditate aliquid. Tempora eos soluta hic beatae quia, commodi libero sequi quis modi reprehenderit nesciunt?</p>
    </div>      
  </div>
  
  </div>